html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: rgb(158, 212, 233);
    background-size: cover;
    overflow: hidden;
}

.ii{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "aleo";

}
.ii{
position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: "aleo";
      }

.nav {
    line-height: 250px;
}

.nav ul {
    color: #fff;
    width: fit-content;
    margin: 0 auto;
    padding: 0;
    margin-top: -70px;
}
.nav ul li {
    display: inline-block;
    list-style: none;
    font-size: 35px;
    font-family: 'Abril Fatface';
    font-weight: 900;
    margin: 0 25px;
    text-align: center;
    cursor:pointer;
}

.social {
    color: #fff;
    position: center;
}
.social ul li {
    margin-bottom: 50px;
    font-size: 30px;
    list-style: none;
}

.gauche {
    position: absolute;
    width: 50%;
    height: 100vh;
    background: url(mh.jpg);
    top: 0;
    left: 0;
}

.gauche h2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 90px;
    font-weight: bolder;
    letter-spacing: 12px;
    background: #fff;
}

.droite {
    position: absolute;
    width: 50%;
    height: 100vh;
    background: url('ph.jpg');
    top: 0;
    right: 0;
}

.droite h2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 90px;
    font-weight: bolder;
    letter-spacing: 12px;
    background: #fff;
} 





.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; 
    margin-left: 0px;
  }
  
  
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    
  }
  
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);

  }
  
  
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    
  }


  .flip-box-front {
    background-color: #63c8d8;
    color: rgb(250, 251, 252);
  }
  
  
  .flip-box-back {
    background-color: rgb(95, 167, 240);
    color: white;
    transform: rotateY(180deg);
  }
  /*.flip-box-front {
    background-image:url(khadija.jpg) ;
    background-repeat: repeat;
    background-size:contain;
  }
  .flip-box-frontt {
    background-image:url(boch.jpg) ;
    background-repeat: repeat;
    background-size:contain;
  }
  .flip-box-fronttt {
    background-image:url(bochr.jpg) ;
    background-repeat: repeat;
    background-size:contain;
  }*/
  .mmm{
    color: white;
    text-decoration: unset;
    margin-top: 7px;
    margin-left: -30px;
    font-size: 20px;
    font-family:cursive;
  }
  .pp{
    color: #000;
    margin-top: 160px;
  }
  
  .uu{
    background-image: url(boch.jpg);
    background-size: cover;
  }
  .u1{
    background-image: url(workout.webp);
    background-size: cover;
  }
  .u2{
    background-image: url(khadija.jpg);
    background-size: cover;
  }
  